<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">About our Secrets</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis deserunt repellat iure, ab eos tempore molestiae! Voluptatum quaerat molestias expedita.</p>


  </div>
</div>

<%- include('partials/footer') %>
